<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link href is relative to 'public' folder -->
    <!-- defined with app.use() in the app.js file -->
    <link rel="stylesheet" href="/style.css">
    <title>Blog Ninja | <%= title %></title>
    <style>
      
    </style>
  </head>